<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mailing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mailing.Properties.Settings>
            <setting name="serverSMTP" serializeAs="String">
                <value />
            </setting>
            <setting name="emailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="emailUser" serializeAs="String">
                <value />
            </setting>
            <setting name="emailPass" serializeAs="String">
                <value />
            </setting>
        </Mailing.Properties.Settings>
    </userSettings>
</configuration>